db.sqlite3
__pycache__/
*.pyc
app/
app/lib/python3.12/site-packages/tensorflow/
app/lib/python3.12/site-packages/cv2/
.vscode
.idea
app
*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx
../static/portfolio/styles.css
.env
.idea
*.DS_Store
templatetags/
*.log
*.csv
.env
