{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>About me</h1>
        </div>

        <!-- Experience Section-->
        <section>
            <div class="section-header">
                <h2>Experience</h2>
                <a href="https://fr.overleaf.com/project/66001c90a2046a27cd6b8318" class="button">Download Resume</a>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="experience-box">
                                <div class="date">Octobre 2024 - maintenant</div>
                                <div class="position">Analyse de données | Developer Machine Learning</div>
                                <div class="company">NerdX Digital</div>
                                <div class="location">Bénin</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="description">Analyse des données pour prévoir l'évolution de NO2 et CO2 dans l'écosystème verte</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="experience-box">
                                <div class="date">Septembre- Aout 2024</div>
                                <div class="position">Data Scientist/Developer NLP</div>
                                <div class="company">Online</div>
                                <div class="location">Benin-France</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="description">Extraction des données (des avis des clients) de la compagnie aérienne de British Airways. Analyse des données textuelles et développement des modèles de langage naturel pour identifier le sentiment des voyageurs et les thèmes récurrents dans les avis des utilisateurs.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="experience-box">
                                <div class="date">Septembre-Aout 2024</div>
                                <div class="position">Developer Machine Learning</div>
                                <div class="company">British Airways Campaign</div>
                                <div class="location">Bénin - À distance</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="description">Analyse de données des clients et utilisateurs; développement des modèles de machine learning et statistiques pour prédire si un client réservera un vol ou non. Mise en place des API TripApp intégrées dans une application pour aider les voyageurs à réserver leurs vols ou faire des modifications.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Education Section-->
        <section>
            <h2>Education</h2>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="education-box">
                                <div class="date">2020 - 2024</div>
                                <div class="school">Université d'Abomey-Calavi</div>
                                <div class="department">FAST</div>
                                <div class="degree">Licence en Physique Fondamentale</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="education-box">
                                <div class="date">Avr. ~ Sept. 2024</div>
                                <div class="school">AfricaTechup-Tour</div>
                                <div class="department">Isherro</div>
                                <div class="degree">Data Scientist/IA</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Skills Section-->
        <section>
            <div class="section-header">
                <h3>Professional Skills</h3>
            </div>
            <div class="skills-list">
                <div class="skill">Machine Learning</div>
                <div class="skill">Analyse de données</div>
                <div class="skill">Développement Web Django</div>
                <div class="skill">Natural Language Processing</div>
                <div class="skill">Deep Learning ~ Computer Vision</div>
                <div class="skill">Programmation Python</div>
                <div class="skill">Gestion Projects</div>
                <div class="skill">Windows - Linux(Ubuntu) - Jupyter Notebook</div>
            </div>

            <div class="section-header">
                <h3>Languages</h3>
            </div>
            <div class="skills-list">
                <div class="skill">HTML</div>
                <div class="skill">CSS</div>
                <div class="skill">Pytorch - Tensorflow/Keras</div>
                <div class="skill">Python</div>
                <div class="skill">Django ~ FastAPI ~ Streamlit ~ Docker </div>
            </div>
        </section>
    </div>
{% endblock %}
