{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}" />
    <link rel="icon" href="{% static 'images/icon.jpg' %}" />
    <title>Mon Portfolio</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="bg-light font-sans leading-normal tracking-normal">
    {% include "portfolio/navbar.html" %}
    
    <!-- Main Content -->
    <main id="content-principal" class="content">
        {% block content %} {% endblock content %}
    </main>

    <!-- Info Social links -->
    <div class="social-links">
        <a href="https://x.com" title="Twitter/X">
            <i class="bi bi-twitter"></i>
            <span>Twitter</span>
        </a>
        <a href="https://www.linkedin.com/in/dona-erick" title="LinkedIn">
            <i class="bi bi-linkedin"></i>
            <span>LinkedIn</span>
        </a>
        <a href="https://www.github.com/dona-erick" title="GitHub">
            <i class="bi bi-github"></i>
            <span>GitHub</span>
        </a>
        <a href="mailto:donaerickoulodji@gmail.com" title="Email">
            <i class="bi bi-envelope"></i>
            <span>Email</span>
        </a>
        <a href="https://www.medium.com/@koulodjiric" title="Medium">
            <i class="bi bi-medium"></i>
            <span>Medium</span>
        </a>
    </div>
    


    <!-- Footer-->
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-left"><div class="footer-text">Copyright &copy; KOULODJI Eric ~ 2024</div></div>
                <div class="footer-right">
                    <a class="footer-link" href="#!">Privacy</a>
                    <span class="separator">·</span>
                    <a class="footer-link" href="#!">Terms</a>
                    <span class="separator">·</span>
                    <a class="footer-link" href="{% url 'contacts-us' %}">Contacts</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
