{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<title>Contacts</title>
<section class="contact-section">
    <div class="contact-container">
        <h2 class="text-center mb-8">Contactez-moi</h2>
        
        <form class="contact-form" method="POST">
            {% csrf_token %}
            <div class="space-y-6">
                <!-- Nom -->
                <div class="form-group">
                    <label class="form-label">Nom :</label>
                    {{ form.name }}
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label class="form-label">Email :</label>
                    {{ form.email }}
                </div>

                <!-- Message -->
                <div class="form-group">
                    <label class="form-label">Message :</label>
                    {{ form.message }}
                </div>

                <!-- Submit -->
                <div class="text-center">
                    <button type="submit" class="submit-btn">
                        Envoyer le message ✨
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="info-section">
        <!-- Vision du futur de l'IA -->
        <div class="info-box">
            <h3>Vision du futur de l'IA</h3>
            <p>Atantlique<br>Abomey-Calavi, Zogbadjè<br>Bénin</p>
            <p>Email : donaerickoulodji@gmail.com</p>
            <p>Téléphone : +229 01~51~34~42~89</p>
        </div>
    </div>
     
    <div class="mt-8 text-center">
        <a href="{% url 'display/services' %}" class="contact-button inline-block px-6 py-3 rounded-md bg-indigo-500 hover:bg-indigo-600 text-white font-semibold transition-colors duration-300">Mes Services</a>
    </div>
</section>


<script src="{% static 'js/contacts.js' %}"></script>
{% endblock content %}
