{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <header class="hero-section">
        <div class="hero-content">
            <div class="skills-container">
                <span class="skill-badge">Analyse de données</span>
                <span class="skill-badge">Machine Learning</span>
                <span class="skill-badge">Data Scientist</span>
                <span class="skill-badge">Deep Learning</span>
                <span class="skill-badge">Développement Web Django</span>
                <span class="skill-badge">Computer Vision</span>
                <span class="skill-badge">Pythoner-Communauté PythonBénin</span>
            </div>
            <h2 class="gradient-text" style="font-size: 2.5rem; margin: 1.5rem 0;">Get online and grow fast</h2>
            <p style="font-size: 1.5rem; color: var(--text); margin-bottom: 5rem;">Can I help you?</p>
            <div style="display: flex; gap: 1rem; justify-content: flex-start;">
                <a href="{% url 'about' %}" style="background: var(--primary); color: rgb(7, 6, 6); padding: 0.8rem 1.5rem; border-radius: 5px; text-decoration: none; transition: transform 0.3s ease;">About-me</a>
                <a href="{% url 'projects' %}" style="border: 2px solid var(--primary); color: var(--primary); padding: 0.9rem 1.5rem; border-radius: 5px; text-decoration: none; transition: transform 0.3s ease;">Projects</a>
            </div>
        </div>
        
        <div class="profile-container">
            <img src="{% static 'images/photo_pictures.jpg' %}" alt="Profile" class="profile-image">
        </div>
    </header>

    <section class="about-section">
        <div style="max-width: 800px; margin: 0 auto; text-align: center;">
            <h2 class="gradient-text" style="font-size: 2.5rem; margin-bottom: 1.5rem;">Qui Suis-Je ?</h2>
            <p style="font-size: 1.5rem; margin-bottom: 1rem;">Hey! I'm Eric KOULODJI Dona.</p>
            <p style="color: var(--text); line-height: 1.8;">Data Scientist passionné, avec une double casquette en Physique-Chimie et 
                en Sciences des données. Mes compétences acquises me permettent de concevoir
                des solutions simples et efficaces, de résoudre des problèmes et d'apporter un 
                plus-value à la nation africaine. Toujours à la recherche de nouveaux défis, 
                j'aime créer des projets innovants où je peux combiner data science et développement.</p>  
        </div>
    </section>

    <section class="about-section">
        <div style="max-width: 800px; margin: 0 auto; text-align: center;">
            <h2 class="gradient-text" style="font-size: 2.5rem; margin-bottom: 1.5rem;">Qui Suis-Je ?</h2>
            <p style="font-size: 1.5rem; margin-bottom: 1rem;">Mes Moments de Distraction !!!!/p>
            <p style="color: var(--text); line-height: 1.8;">Mes moments de distraction sont comme des éclats 
                de lumière furtifs dans le tumulte de tes projets ambitieux. 
                Ils surgissent lorsque mon esprit, saturé d’analyses et d’algorithmes, s’octroie une échappée, un souffle hors du cadre rigide des codes et des modèles. 
                Ce sont ces instants où, porté par le vague à l’âme du génie créatif, 
                je laisses mon attention voguer vers des rivages imprévus, oscillant entre rêverie et curiosité.
                Parfois, une simple pensée hors sujet devient un sentier sinueux que j'explores, le temps d’un détour mental. 
                D’autres fois, mon regard s’attarde sur une idée fugace, un détail anodin qui, sans crier gare, 
                me captive et suspend l’élan de ton travail. Ces moments, loin d’être inutiles, sont des pauses invisibles où mon esprit, 
                tel un instrument finement accordé, se ressource pour mieux vibrer à la prochaine inspiration.</p>  
        </div>
    </section>

    
    <div style="display: flex; gap: 1rem; justify-content: flex-start;">
        <a href="{% url 'about' %}" style="background: var(--primary); color: rgb(203, 235, 231); padding: 0.8rem 1.5rem; border-radius: 5px; text-decoration: none; transition: transform 0.3s ease;">About-me</a>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock content %}