{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<section class="projects-section py-5 bg-gradient-to-br from-gray-900 to-gray-800 text-white">
    <div class="container px-5">
        <h1 class="text-center text-4xl font-bold text-indigo-500 mb-8">Mes Projets</h1>
        {% if projects %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for project in projects %}
            <div class="project-card rounded-lg shadow-md overflow-hidden bg-gray-700 hover:shadow-lg transition-shadow duration-300">
                {% if project.image_project %}
                    <img src="{{ project.image_project }}" alt="{{ project.title }}" class="project-image w-full h-48 object-cover">
                {% else %}
                    <img src="{% static 'images/opti.png' %}" alt="default" class="project-image w-full h-48 object-cover" weight="90" height="80">
                {% endif %}
                <div class="p-4">
                    <h2 class="project-title text-xl font-semibold mb-2">{{ project.title }}</h2>
                    <p class="project-description text-gray-300">{{ project.description|truncatechars:100 }}</p>
                    <p class="project-skills text-sm mt-2">
                        <strong class="text-indigo-400">Categories:</strong> {{ project.skills_used }}</p>
                    <div class="project-links mt-4 flex justify-between">
                        {% if project.github_link %}
                            <a href="{{ project.github_link }}" target="_blank" class="github-button px-4 py-2 rounded-md bg-indigo-600 hover:bg-indigo-700 transition-colors duration-300">
                                Github
                            </a>
                        {% endif %}
                        {% if project.url_project %}
                            <a href="{{ project.url_project }}" target="_blank" class="demo-button px-4 py-2 rounded-md bg-gray-600 hover:bg-gray-700 transition-colors duration-300">
                                Démo
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p class="text-center text-gray-400 mt-8">Aucun projet disponible.</p>
        {% endif %}
        <div class="mt-8 text-center">
            <a href="{% url 'contacts-us' %}" class="contact-button inline-block px-6 py-3 rounded-md bg-indigo-500 hover:bg-indigo-600 text-white font-semibold transition-colors duration-300">Contactez-moi →</a>
        </div>
    </div>
</section>

<section class="recherche-project py-5 bg-gradient-to-br from-gray-900 to-gray-800 text-white">
    <div class="container px-5">
        <h3 class="text-center text-4xl font-bold text-indigo-500 mb-8">Recherche de projet</h3>
        <form action="{% url 'projects' %}" method="GET" class="flex justify-center">
            <input type="text" name="q" placeholder="Rechercher un projet..." value="{{ request.GET.q }}">
            <button type="submit">Rechercher</button>
        </form>     
    </div>
</section>

<script src="{% static 'js/projects.js' %}"></script>


{% endblock content %}

